body{
  background:#2E5C89;
}
header{
  height: 200px;
  max-width: 100%;
}
main{
  height:1000px;
  font-family: 'Yatra One', cursive;
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2em;
  box-shadow: 10px 10px 30px;
  background-image:url("../achtergrond.png");

}
nav{
  max-width: 60%;
  margin: 20px auto;
  font-family: 'Barrio';
}
ul{
  display: flex;
  justify-content: space-between;
}
ul a{
  color:white;
  text-decoration: none;
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.5vw;
}
#Layer_1{
  max-width: 10%;
  position: absolute;
  top:20px;
  left:20px;
  fill:white;
}
nav a:hover{
  background-color: #FD7D01;
  color:white;
}
a{

  color:white;
}
#Layer_1:hover{
  fill:#FD7D01;
}
#Layer_2{
  max-width: 10%;
  fill:green;
  position: fixed;
  top:655px;
  left:-25px;
}
img{
  max-width: 40%;
  display: block;
  margin: 0 auto;
}
.info{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
h1{
  font-size: 3em;
  color:white;
  margin-bottom: 2%;
}
p{
  color:white;
  font-size: 1.2em;
  margin-top: 2%;
}
span{
display: block;
margin-bottom: 2%;
margin-top: 2%;
}
span:nth-child(7) {
  text-align: center;
}
span:nth-child(7) a:hover {
  color : #FD7D01;
}
span:last-child{
  margin-top: 5%;
  font-size: 1.5em;
}

@media (max-width:1385px) {
  ul a {
    padding-left: 30px;
    padding-right: 30px;
  }
  #Layer_2{
    display: none;
  }
}
@media(max-width:1067px){
  ul a{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media(max-width:860px){
  ul a{
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media(max-width:700px){
  h1{
    font-size: 2em;
  }
  p{
    font-size: 1em;
  }
  nav a:hover{
    background-color: #2E5C89;
    color:white;
  }
}
@media(max-width:500px){
  ul a{
    padding-left: 0px;
    padding-right: 0px;
  }
  h1{
    font-size: 1.5em;
  }
  p{
    font-size: 0.6em;
  }
}
