body{
  background:#2E5C89;
}
header{
  height: 200px;
  max-width: 100%;
}
main{
  height:1500px;
    font-family: 'Yatra One', cursive;
    max-width: 60%;
    margin: 0 auto;
}
nav{
  max-width: 60%;
  margin: 20px auto;
  font-family: 'Barrio';
}
ul{
  display: flex;
  justify-content: space-between;
}
ul a{
  color:white;
  text-decoration: none;
  padding-top:20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.5vw;
}
.week1{
border:2px dotted white;
padding: 2em;
box-shadow: 10px 10px 30px;
background-image:url("../achtergrond.png");
margin-bottom: 5%;
}
.week7{
border:2px dotted white;
padding: 2em;
margin-bottom: 5%;
box-shadow: 10px 10px 30px;
background-image:url("../achtergrond.png")
}
.week12{
  border:2px dotted white;
  padding: 2em;
  margin-bottom: 5%;
  margin-top: 2%;
  box-shadow: 10px 10px 30px;
  background-image:url("../achtergrond.png");
}
.muziekvideo{
  border:2px dotted white;
  padding: 2em;
  box-shadow: 10px 10px 30px;
  margin-bottom: 5%;
  background-image:url("../achtergrond.png");
}
.week14{
    border:2px dotted white;
    padding: 2em;
    margin-bottom: 5%;
    margin-top: 2%;
    box-shadow: 10px 10px 30px;
    background-image:url("../achtergrond.png");

}
.website{
  border:2px dotted white;
  padding: 2em;
  box-shadow: 10px 10px 30px;
  margin-bottom: 5%;
  background-image:url("../achtergrond.png");
}
#Layer_1{
  max-width: 10%;
  position: absolute;
  top:20px;
  left:20px;
  fill:white;
}
a:hover{
  background-color: #FD7D01;
  color:white;
}
#Layer_1:hover{
  fill:#FD7D01;
}
#Layer_2{
  max-width: 10%;
  fill:green;
  position: fixed;
  top:650px;
}
img{
  max-width: 60%;
  display: block;
  margin: 0 auto;
}
.info{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
h1{
  font-size: 2em;
  color:white;
  margin-bottom: 2%;
}
h2{
  font-size: 2em;
  color:white;
  margin-bottom: 2%;
  margin-top: 2%;
}
p{
  color:white;
  font-size: 1em;
  margin-bottom: 2%;
}
@media (max-width:1385px) {
  ul a {
    padding-left: 30px;
    padding-right: 30px;
  }
  #Layer_2{
    display: none;
  }
}
@media(max-width:1067px){
  ul a{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media(max-width:860px){
  ul a{
    padding-left: 10px;
    padding-right: 10px;
  }
  h2{
    font-size: 1.5em;
  }
  p{
    font-size: 0.8em;
  }
}
@media(max-width:700px){

  nav a:hover{
    background-color: #2E5C89;
    color:white;
  }
}
@media(max-width:670px){
  ul a{
    font-size: 0.5em;
  }
}
@media(max-width:500px){
  ul a{
    padding-left: 0px;
    padding-right: 0px;
  }
  h2{
    font-size: 1em;
  }
  p{
    font-size: 0.5em;
  }
}
